form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: #E2BFD9;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    background-color: #674188;
    color: #F7EFE5;
}

button {
    width: 150px;
    height: 30px;
    background-color: #C8A1E0;
    color: #674188;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
